/* Characteristics of the nav section */
nav {
  background color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
  font-size: 14px;
}


section {
  margin: 0 auto;
  width: 60%;
}


/* h1 has a sans-serif font, with 32 px (1em=16px)*/
h1 {
  font-family: sans-serif;
  font-size: 2em;
}


.example, h3 {
  padding-top: 30px;
  text-align: center;
}


h3 {
  font-size: 1.3em;
}


/*this section provides the characterstics of the element class */
.element, .element1, .element2, .element3 {
  height: 100px;
  margin: 10px 0;
  width: 100%;
  background-color: green;
}


/*Separated the elements so each has a different color*/
.element1 {
  background-color: blue;
}


.element2 {
  background-color: red;
 }


.element3 {
  background-color: orange;
}
